<div class="container">
    <div class="navbar">
        <div class="navbar-menu nav-center">
            <a class="navbar-item" routerLink="/home" routerLinkActive="active">
                {{'Home' | translate:lang}}
            </a>
            <a class="navbar-item" [routerLink]="['/category', 'professional_experience']" routerLinkActive="active">
                {{'Professional experiences' | translate:lang}}
            </a>
            <a class="navbar-item" [routerLink]="['/category', 'education']" routerLinkActive="active">
                {{'Education' | translate:lang}}
            </a>
            <a class="navbar-item" [routerLink]="['/category', 'hobby']" routerLinkActive="active">
                {{'Miscellaneous' | translate:lang}}
            </a>
            <a class="navbar-item" routerLink="/new" routerLinkActive="active">
                {{'New item' | translate:lang}}
            </a>
        </div>
    </div>
</div>
<br>