<!--The content below is only a placeholder and can be replaced.-->
<div class="tabs is-right is-toggle is-small" style="margin:1%">
  <ul>
    <li [class.is-active]="frLangActivated"><a (click)="selectLanguage('fr')">Fr</a></li>
    <li [class.is-active]="enLangActivated"><a (click)="selectLanguage('en')">En</a></li>
  </ul>
</div>

<app-nav></app-nav>

<div class="container" style="text-align:center">
  <h1 class="title">Information Technology Engineer</h1>
  <h1 class="subtitle">Jean-Michel Lottier</h1>
</div>

<router-outlet></router-outlet>