/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bulma/css/bulma.css';

.sign-in-field {
    margin: 5% 0%; 
}

.alert-container {
    margin-top: 2%;
    margin-bottom: 2%;
}

a {
    text-decoration: none !important;
}

.summary-edition:hover {
    color: #00d1b2;
}

.footer {
    padding-bottom: 3rem;
}