<div class="container" style="margin-bottom: 2%;">
    <div class="tile is-ancestor">
        <div class="tile is-parent">
            <article class="tile is-child notification is-light">
                <h1 class="title">En bref</h1>
                <p>presentation ici...</p>
                <p>on continue...</p>
                <p>...on termine</p>
            </article>
        </div>
        <div class="tile is-vertical is-parent is-4">
            <article class="tile is-child notification is-primary">
                <h1 class="title">Carte de viste</h1>
                <p>TODO</p>
            </article>
            <article class="tile is-child notification is-dark">
                <h1 class="title">Skills</h1>
                <a><span class="tag is-primary">Primary</span></a>
                <a><span class="tag is-light">Test</span></a>
            </article>
        </div>
    </div>
</div>